<body>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
               <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Register</h5>
              <form class="form-signin">
                <div class="form-label-group">
                        <label for="inputUserame" style="text-align: center;">Username</label>

                  <input type="text" id="inputUserame" class="form-control" placeholder="Enter the username" style="text-align: center;" required>
                </div>
  
                <div class="form-label-group">
                  <label for="inputEmail" style="text-align: center;">Email address</label>
                  <input type="email" id="inputEmail" class="form-control" placeholder="Enter the Email address" style="text-align: center" required>

                </div>
                
                <hr>
  
                <div class="form-label-group">
                        <label for="inputPassword" style="text-align: center">Password</label>

                  <input type="password" id="inputPassword" class="form-control" placeholder="Enter the Password" style="text-align: center" required>
                </div>
                
                <div class="form-label-group">
                        <label for="inputConfirmPassword" style="text-align:center">Confirm password</label>

                  <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm the Password" style="text-align: center "required>
                </div>
                
                <label for="inputConfirmPassword" style="text-align:center">Already a member ?</label>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Log in</button>


                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>