:root {
            --input-padding-x: 1.5rem;
            --input-padding-y: .1.8rem;
          }
          
          body {
            background: grey;
            background: scroll center url('https://thumbs.dreamstime.com/b/blurred-background-laptop-city-night-light-background-blurred-background-laptop-city-night-background-114784101.jpg');
            background-size: cover;

          }
          
          .card-signin {
            border: 0;
            border-radius: 1rem;
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
            overflow: hidden;
            width: 900px;
          }
          
          .card-signin .card-title {
            margin-bottom: 2rem;
            font-weight: 500;
            font-size: 1.5rem;
          }
          
          .card-signin .card-img-left {
            width: 205%;
            /* Link to your background image using in the property below! */
            background: scroll center url('https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?cs=srgb&dl=ballpen-blur-close-up-461077.jpg&fm=jpg');
            background-size: cover;

          }

          
          
          .card-signin .card-body {
            padding: 2rem;
            background-color: silver;
            font-weight: bold;
          }
          
          .form-signin {
            height: 480px;
            width: 300px;;
          }
          
          .form-signin .btn {
            font-size: 80%;
            border-radius: 5rem;
            letter-spacing: .1rem;
            font-weight: bold;
            padding: 1rem;
            transition: all 0.2s;
          }
          
          .form-label-group {
            position: relative;
            margin-bottom: 1rem;
            height: 40px;
          }
          
          .form-label-group input {
            height: 30px;
            border-radius: 2rem;
            
          }
          
          .form-label-group>input,
          .form-label-group>label {
            padding: var(--input-padding-y) var(--input-padding-x);
          }
          
          .form-label-group>label {
            position:relative;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            margin-bottom: 0;
            /* Override default `<label>` margin */
            line-height: 1.5;
            color: #495057;
            border: 1px solid transparent;
            border-radius: .25rem;
            transition: all .1s ease-in-out;
          }
          
          
          
          
          .btn-google {
            color: white;
            background-color: #ea4335;
          }
          
          .btn-facebook {
            color: white;
            background-color: #3b5998;
          }